
@{
    ViewData["Title"] = "DanhMucQuyenLoaiVB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
<div class="container">
    <div class="invoice p-3 mb-3">
        <h2 class="text-center">Danh mục Loại văn bản</h2>
    </div>
    <div class="d-flex justify-content-end mr-3">
        <div class="" id="btn-export"></div>
    </div>
    <table class="table table-bordered table-striped" id="tbQuyenLoai">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Tên loại biểu mẫu</th>
                <th>Xem</th>
                <th>In</th>
                <th>Tải về</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#tbQuyenLoai").DataTable({
                "scrollY": '420px',
                "scrollCollapse": true,
                "paging": false,
                "lengthChange": false,
                "searching": true,
                "processing": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": false,
                "order": [[0, 'asc']],
                "columnDefs": [
                    { orderable: false, targets: 'no-order' },
                    { className: "text-wrap", targets: "_all" },
                    { defaultContent: '', targets: "_all" },
                ],
                "ajax": {
                    "url": '/DanhMuc/Get_DanhMucQuyenLoaiVB',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "id",
                        "className": "text-center"
                    },
                    { "data": "tenLoaiBM" },
                    {
                        "data": { doc: "doc"},
                        "render": function (data, type, full, meta) {
                            if (data.doc === "Có") {
                                return '<span class="badge bg-success">' + data.doc + '</span>';
                            }
                            else { return '';}
                        },
                        "className": "text-center"
                    },
                    {
                        "data": { inRa: "inRa" },
                        "render": function (data, type, full, meta) {
                            if (data.inRa === "Có") {
                                return '<span class="badge bg-success">' + data.inRa + '</span>';
                            }
                            else { return ''; }
                        },
                        "className": "text-center"
                    },
                    {
                        "data": { taiVe: "taiVe" },
                        "render": function (data, type, full, meta) {
                            if (data.taiVe === "Có") {
                                return '<span class="badge bg-success">' + data.taiVe + '</span>';
                            }
                            else { return ''; }
                        },
                        "className": "text-center"
                    },
                    {
                        "data": { trangThai: "trangThai" },
                        "render": function (data, type, full, meta) {
                            if (data.trangThai === "Đang sử dụng") {
                                return '<span class="badge bg-success">' + data.trangThai + '</span>';
                            }
                            else { return ''; }
                        },
                        "className": "text-center"
                    },
                ],
                "language": {
                    "sProcessing": "Đang tải dữ liệu...",
                    "sLengthMenu": "Xem _MENU_ mục",
                    "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                    "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                    "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                    "sInfoPostFix": "",
                    "sSearch": "Tìm:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Đầu",
                        "sPrevious": "Trước",
                        "sNext": "Tiếp",
                        "sLast": "Cuối"
                    }
                },
                "dom": 'Bfrtip',
                "buttons": [{
                    "extend": 'excel',
                    "text": '<i class="fas fa-file-download"></i> Xuất Excel</button>',
                    "className": "btn btn-success btn-flat ml-3",
                    "title": "Danh mục Loại văn bản",
                    "sheetName": "Thống kê",
                    "footer": true
                    //"exportOptions": { columns: array },

                }],
                "initComplete": function (settings, json) {
                    table.buttons().container().appendTo('#btn-export');
                }
            });
        });

    </script>
}


