
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ ViewData["Title"] = "GoogleDocs";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Gửi Mail</h3>
            </div>
            <div class="card-body">
                <form id="frmCreate">
                    <div class="form-group">
                        <label class="col-form-label">Người nhận:</label>
                        <select class="form-control" id="ToEmail" name="ToEmail" multiple="multiple"></select>
                    </div>
                </form>
                <button class="btn btn-secondary" id="btnCreate">Gửi mail</button>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).on({
            ajaxStart: function () { $(document.body).addClass("loading"); },
            ajaxStop: function () { $(document.body).removeClass("loading"); }
        });

        $('#ToEmail').select2({
            tags: true,

        });

        function getData(url) {
            var result = null;
            $.ajax({
                url: url,
                type: "GET",
                dataType: 'html',
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }
        $('body').on('click', '#btnCreate', function () {
            var toEmail = $('#ToEmail').val();
            var htmldata = getData('/Mail/MailTemplate');
            console.log(htmldata);
            console.log(toEmail);
            var dataToSend = JSON.stringify({ 'Body': htmldata, 'ListEmail': toEmail });
            $.ajax({
                type: 'POST',
                url: '/Mail/SendMail',
                contentType: "application/json; charset=utf-8",
                data: dataToSend,
                success: function (data) {
                    $(this).callToast("success","Thành công!","Đã gửi mail");
                },
                error: function (data) {
                    $(this).callToast("error", "Lỗi!", "Lỗi");
                },
            });
        });
    </script>
}
