@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model WebTools.Models.DocumentViewModel
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="@Model.FileName" aria-hidden="true" id="documentview">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-file-alt"></i> Đang xem file: @Model.FileName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <iframe class="iframe-preview" style="width: 100%; height:600px" frameborder="0" scrolling="no" id="myIframe"></iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#documentview').on('show.bs.modal', function (e) {
        $.ajax({
            url: '/Report/DocumentView?link=@Model.IDPhienBan',
            dataType: 'html',
            success: function (data) {
                $(".modal").find(".iframe-preview").attr("srcdoc", data);
                //document.location.hash = "DocumentView?link=@Model.IDPhienBan";
                window.history.pushState(null, null, "/Report/DocumentView?link=@Model.IDPhienBan");
            }
        });
    });
    $('#documentview').on('hidden.bs.modal', function (e) {
        document.getElementById("myIframe").remove();
    })
</script>
