<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="modalThongKeDocHieuChiTiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <table id="tbDocHieuChiTiet" class="table table-bordered table-striped" width="100%">
                        <thead class="thead">
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Mã nhân viên</th>
                                <th>Khoa phòng</th>
                                <th>Đối tượng</th>
                                <th>Ngày đọc</th>
                                <th>Ngày xác nhận</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var columnData = [
            {
                "data": {},
                "render": function (data, type, full, meta) {
                    var stt = meta.row + 1;
                    return stt;
                },
            },
            { "data": "hoTen" },
            { "data": "maNV" },
            { "data": "khoaPhong" },
            { "data": "doiTuong" },
            { "data": "ngayDoc" },
            { "data": "ngayXacNhan" },
        ];
        function tableDocHieuChiTiet(id, url, columnData) {
            var table = $(id).DataTable();
            if ($.fn.dataTable.isDataTable(id)) {
                table.destroy();
                $(id).find('thead .filters').remove();
                $(id).find('tbody').empty();
            }
            var table = $(id).DataTable({
            "scrollY": '50vh',
            "scrollX": true,
            "paging": false,
            "fixedHeader": true,
            "lengthChange": false,
            "ajax": {
                "url": url,
                "type": "GET",
                "datatype": "json"
            },
            "columns": columnData,
            "columnDefs": [
                { "orderable": false, "targets": 'no-order' },
                { "className": "text-nowrap", "targets": "_all" },
                { "defaultContent": '', "targets": "_all" },
            ],
            "language": {
                "sProcessing": "Đang tải dữ liệu...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
        });
        }
        tableDocHieuChiTiet('#tbDocHieuChiTiet','/ThongKe/Get_ThongKeDocHieuChiTiet?idvb=@ViewBag.IDVB', columnData);
        $('#modalThongKeDocHieuChiTiet').on('shown.bs.modal', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
    });
</script>
